body {
  margin: 0;
  font-family: "Courier New", sans-serif;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}
.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-title {
  font-size: 1.5em;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.purple {
  background-color: purple;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.orange {
  background-color: orange;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.blue {
  background-color: blue;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.yellow {
  background-color: yellow;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.red {
  background-color: red;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.brown {
  background-color: brown;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.green {
  background-color: green;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.pink {
  background-color: pink;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  box-sizing: border-box;
}
.white {
  background-color: white;
  border-radius: 100%;
  border: 1px solid #333;
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: center;
  align-content: center;
}
#pallette {
  height: 40px;
  width: 400px;
  border: 1px solid #333;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}
#pallette > div {
  flex: 0 0 10%;
  height: 40px;
}
#board {
  display: flex;
  flex-direction : column;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}
.cell, #solution > div {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
}
#solution {
  margin-bottom: 20px;
  border: 1px solid #333;
  display: flex;
}
.result-box {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  margin-left: 10px;
}
.result-cell {
  width: 25px;
  height: 25px;
  float: left;
}
button {
  background: white;
  border: 2px solid #333;
  padding: 5px;
  font-size: 16px;
}
.hide-solution {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}